pubs/ubicomp_18.pptx filter=lfs diff=lfs merge=lfs -text
pubs/iot-sys_15.pptx filter=lfs diff=lfs merge=lfs -text
pubs/sensys_14.pptx filter=lfs diff=lfs merge=lfs -text
pubs/sensys_18_marvel.pptx filter=lfs diff=lfs merge=lfs -text
pubs/sensys_11_demo_abstract.pdf filter=lfs diff=lfs merge=lfs -text
pubs/sensys_14.pdf filter=lfs diff=lfs merge=lfs -text
pubs/ubicomp_11.pdf filter=lfs diff=lfs merge=lfs -text
pubs/ubicomp_18.pdf filter=lfs diff=lfs merge=lfs -text
pubs/casper_16.pdf filter=lfs diff=lfs merge=lfs -text
pubs/cpd18.pdf filter=lfs diff=lfs merge=lfs -text
pubs/cpsbench_18.pdf filter=lfs diff=lfs merge=lfs -text
pubs/hotmobile_17_demo_abstract.pdf filter=lfs diff=lfs merge=lfs -text
pubs/iotdi_16.pdf filter=lfs diff=lfs merge=lfs -text
pubs/ipsn_12_poster_abstract.pdf filter=lfs diff=lfs merge=lfs -text
pubs/sensys_18_marvel.pdf filter=lfs diff=lfs merge=lfs -text
pubs/wms_12.pdf filter=lfs diff=lfs merge=lfs -text
pubs/buildsys_15_poster.pdf filter=lfs diff=lfs merge=lfs -text
pubs/buildsys_17.pdf filter=lfs diff=lfs merge=lfs -text
pubs/iot-sys_15.pdf filter=lfs diff=lfs merge=lfs -text
pubs/ipsn_12.pdf filter=lfs diff=lfs merge=lfs -text
pubs/buildsys_12.pdf filter=lfs diff=lfs merge=lfs -text
pubs/buildsys_15_demo_abstract.pdf filter=lfs diff=lfs merge=lfs -text
pubs/buildsys_15_poster_abstract.pdf filter=lfs diff=lfs merge=lfs -text
pubs/sensys_18_hamilton.pdf filter=lfs diff=lfs merge=lfs -text
